# Temp OS files
.DS_Store

# Dependency directories
node_modules

# Secrets
.env

#Hardhat files
cache
artifacts

# Open Zeppelin development upgrades config
.openzeppelin/unknown-*.json

# Token allocations
team-allocations.csv
investor-allocations.csv
